body
     {
         background-color:lightcoral;
         font-family: 'Be Vietnam Pro', sans-serif;
         font-family: 'Poppins', sans-serif;
    }

div
{
    width: 85%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px solid azure;
}
div h1
{
    font-family: 'Great Vibes', cursive;
    color:azure;
}
a:link 
    {
        color:rgb(255, 255, 255);
        background-color: none ;
        text-decoration: none;
        padding: 15px;
        text-transform:capitalize;
        font-size: 20px;
    } 
a:visited
    {
        color:snow;
        background-color:none;
        text-decoration: none;
    }
    a:hover
    {
        color:lightsalmon;
        background-color:peachpuff;
        text-decoration: underline;
    }
    a:active
    {
        color:peru;
    }
h2
{
    margin:50px;
    color:ivory;
    text-align: center;
    
}
ul 
 {
     color:ivory;
     margin: 20px;
     background-color: lightpink;
     color: white;
     border: 2px solid lightcoral;
     margin: 20px;
     padding: 20px;
     list-style-position: inside;
    
 }   
 h2
 {
     margin: 50px;
     color:ivory;
     text-align: center;
     font-size: 25px;
     font-family:'Imperial Script', cursive;
     font-size: 40px;
     
 }
p
{
    color: ivory;
    margin-left: 50px;
    text-align:center;
    background-color:lightpink;
    color: white;
    border: 2px solid lightcoral;
    margin: 20px;
    padding: 20px;
}
img 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

main
{
    width: 800px;
    height: 520px;
    background-color: linen;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid;
}

footer
{
    color: ivory;
    text-align: center;
}